.ui.segment {
  box-shadow: none;
  border-radius: 0;
}

.ui.button,
.ui.button.basic {
  border-radius: 0;
  height: 40px;
}

input,
.ui.selection.dropdown  {
  border-radius: 0 !important;
  height: 40px !important;
}

.ui.card{
  border-radius: 0;
}

.slider {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
}