.ui.segment {
  box-shadow: none;
  border-radius: 0;
}

.ui.button,
.ui.button.basic {
  border-radius: 0;
  height: 40px;
}

input,
.ui.selection.dropdown  {
  border-radius: 0 !important;
  height: 40px !important;
}

.ui.card{
  border-radius: 0;
}

.menu {
  border-radius: 0 !important;
}

.slider {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 100%;
}

.navbar{
  height: 60px; /* notice this value */
  width: 100%;
  background: #1a1c23;
  color: white;
}

.myScrollableDiv {
   position: fixed;
   top: 60px; /* same height as navbar */
   left: 20vw;
   right: 0;
   bottom: 0;
   overflow-y: scroll;
   background: #121317;
   color: #fff;
}

.scrollable {
  overflow-y: scroll;
}

.ui.borderless.fluid.vertical.left.fixed.menu {
  background-color: #1a1c23;
}

.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: #1a1c23 !important;
  min-width: 40vw !important;
  padding: 30px;
  color: white !important;
}

.row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ui.input {
  min-width: 100%;
}

.ui.vertical.menu .item {
  color: rgb(174 172 172 / 87%);
  font-size: 14px;
  font-weight: bold;
  padding: 20px 30px;
}

.ui.vertical.menu>.active {
  color: white;
  border-left: 3px solid green;
  padding: 20px 27px;
}

.ui.vertical.menu .item:hover,
.ui.vertical.menu>.active:hover {
  color: white !important;
}

.sidebar-button {
  position: fixed !important;
  bottom: 20px !important;
  width: 20vw !important;
  display: flex;
  justify-content: center;
}

.sidebar-button button {
  width: 90%;
}

.dark-button input{
  background-color: #24262d !important;
  border: 1px solid #4d4f52 !important;
  color: #cfcfcf !important;
}

.dark-button input::placeholder {
  color: #4d4f52 !important
}

.dark-button label {
  color: #cfcfcf !important;
}

.search.icon {
  color: #cfcfcf;
}

.dark-basic-button {
  color: #4d4f52 !important;
  border: 1px solid #4d4f52 !important;
  background-color: transparent !important;
}

.dark-basic-button:hover {
  background-color: #4d4f52 !important;
  color: #cfcfcf !important;
}

.dark-modal>.content {
  background-color: #24262d !important;
  color: #cfcfcf !important;
}

.ui.massive.label {
  padding: 1.5em !important;
}